<div class="row">
  <div class="col-sm-12 col-md-12">
    <h1>Sample 1: Forms and buttons</h1>
  </div>
  <div class="col-sm-12 col-md-12">
    <hr/>
    <h2>Hello!</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label" for="textInput">Name:</label>
        <div class="col-md-6">
          <input type="text" id="textInput" class="form-control" ng-model="$ctrl.name" placeholder="Enter a name here">
        </div>
      </div>
    </form>
    <div class="alert alert-success" ng-cloak>
      <span class="pficon pficon-info"></span> Hello {{$ctrl.name}}!
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <hr/>
    <h2>Button</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">Click this!</label>
        <div class="col-md-10">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.onClick()" ng-disabled="$ctrl.disableButton">
            Button
          </button>
        </div>
      </div>
    </form>
    <div class="alert alert-success" ng-cloak>
      <span class="pficon pficon-info"></span> Click count: {{$ctrl.count}}
    </div>
  </div>
</div>
